* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
}

body {
    background: rgb(218, 214, 196);
}

.wrapper {
    width: 100%;
}

.grid {
    background-color: beige;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    max-width: 240px;
}

.game-cell {
    width: 80px;
    height: 80px;

    margin: 0;
    padding: 0;

    border: 2px solid red;
    box-sizing: border-box;

    border-right: 0;
    border-bottom: 0;

    font-size: 70px;
    text-align: center;
    vertical-align: middle;
}

.game-cell:nth-child(3n-2) {
    border-left: 0;
}

.game-cell:nth-child(-n+3) {
    border-top: 0;
}

.game-cell p:hover {
    transform: scale(2.25, 1.5);
    transition: all 200ms;
}

#about-ttt-dropdown * {
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: darkslategray;
}

#about-ttt-dropdown-text {
    margin: 20px 0;
}
